#newsletter-section {
	background-color: #212023;
	max-width: 600px;
	border-radius: 12px;
	padding: 40px;
	margin: 50px auto;
	text-align: center;
}

#newsletter-section h2 {
	color: #ff6600;
	font-size: 24px;
}

#newsletter-section p {
	color: #93999c;
	text-align: center;
	font-size: 16px;
}

#newsletter-section form {
	margin-top: 20px;
}

#email-field {
	width: 300px;
	text-align: center;
	padding: 10px;
	margin-top: 5px;
	border-radius: 6px;
	border: 2px solid #93999c;
	font-size: 16px;
}

#send-field {
	margin-right: 5px;
}

#submit-field {
	background-color: #ff6600;
	color: white;
	padding: 10px 15px;
	margin-top: 10px;
	border-radius: 6px;
	border: none;
	font-size: 16px;
	cursor: pointer;
}

#submit-field:hover {
	background-color: #e55a00;
}

#newsletter-section a {
	color: #ff6600;
	text-decoration: none;
}