body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	background-image: url('/images/background.jpg');
	background-color: rgba(17, 17, 17, 0.98);
	background-blend-mode: multiply;
	background-size: cover;
	background-position: center;
	color: #ffffff;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 64px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

header a {
	text-decoration: none;
	color: #ffffff;
}

header hgroup {
	margin: 0;
	display: inline-block;
}

hgroup h1 {
	margin-bottom: 4px;
}

hgroup p {
	margin-top: 4px;
	font-size: 24px;
	color: #ff6500;
}

.navbar {
	margin: 0;
}

.navbar ul {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}

.navbar li {
	margin-right: 20px;
}

.navbar li:last-child {
	margin-right: 0;
}

.navbar a {
	text-decoration: none;
	color: #93999c;
	padding: 5px 10px;
}

.navbar a:hover {
	color: #ffffff;
	text-decoration: underline;
	text-decoration-color: #ff6500;
	text-underline-offset: 8px;
}

main {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 16px 64px;
	padding-bottom: 48px;
	margin-top: 32px;
	margin-bottom: 32px;
	min-height: 100vh;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

/* HOME */

#about-me-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.about-me-text {
	flex: 1;
	margin-right: 48px;
	text-align: justify;
}

.about-me-text a {
	display: inline-block;
	margin-top: 16px;
}

.self-portrait {
	height: 240px;
	width: auto;
	border-radius: 16px;
	opacity: 0;
	transform: translateX(-50px);
	animation: slideIn 0.5s forwards ease-out;
	flex-shrink: 0;
}

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateX(-50px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.linkedin-mark {
	filter: invert(100%);
	height: 48px;
	width: auto;
	margin-right: 24px;
	transition: transform 0.3s ease;
}

.github-mark {
	filter: invert(100%);
	height: 48px;
	width: auto;
	transition: transform 0.3s ease;
}

.github-mark:hover, .linkedin-mark:hover {
	transform: scale(1.1);
}

h2 {
	color: #ff6500;
}

#newsletter-section {
	text-align: center;
	border-radius: 16px;
	width: 640px;
	height: auto;
	margin-top: 64px;
	margin-left: auto;
	margin-right: auto;
	background-color: #212023;
}

#newsletter-section h2 {
	padding-top: 24px;
}

form a {
	text-decoration: none;
	color: #ff6500;
}

#email-field {
	padding: 12px 12px;
	border-radius: 16px;
	width: 256px;
	border: none;
	text-align: center;
}

#checkbox-field {
	margin-right: 6px;
}

#submit-field {
	margin-top: 8px;
	margin-bottom: 32px;
	padding: 12px 16px;
	border-radius: 6px;
	border: none;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	background-color: #ff6500;
	color: #ffffff;
}

#submit-field:hover {
	background-color: #ffffff;
	color: #ff6500
}

/* CV */

#about-section h2 {
	padding-top: 16px;
}

#about-section p {
	text-align: justify;
}

#about-section p a {
	text-decoration: none;
	color: #ff6500;
}

#experience-section ul {
	padding-left: 0;
	text-align: justify;
	margin-bottom: 16px;
}

#experience-section ul li {
	list-style: none;
}

#experience-section ul li ul li {
	color: #93999c;
}

#education-section ul {
	padding-left: 0;
	text-align: justify;
	margin-bottom: 16px;
}

#education-section ul li {
	list-style: none;
}

#education-section ul li ul li {
	color: #93999c;
}

#certifications-section ul {
	padding-left: 0;
	text-align: justify;
	margin-bottom: 16px;
}

#certifications-section ul li {
	list-style: none;
}

#certifications-section ul li ul li {
	color: #93999c;
}

#technologies-section ul {
	padding-left: 0;
	text-align: justify;
}

#technologies-section ul li {
	list-style: none;
}

#technologies-section h3 {
	text-decoration: underline;
	text-underline-offset: 12px;
	text-decoration-color: #ff6500;
}

#languages-section ul {
	padding-left: 0;
	text-align: justify;
	margin-bottom: 16px;
}

#languages-section ul li {
	list-style: none;
}

#languages-section ul li ul li {
	color: #93999c;
}

/* HOBBIES */

.main-hobbies {
	padding-top: 32px;
	text-align: center;
}

/* MICRO-GAME */

.main-micro-game {
	padding-top: 32px;
}

#game-section {
	text-align: center;
	border-radius: 16px;
	width: 640px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 18px;
	background-color: #212023;
}

#game-section h2 {
	padding-top: 24px;
}

#number-field {
	width: 64px;
	border-radius: 8px;
}

#button-field {
	margin-top: 8px;
	padding: 8px 16px;
	border-radius: 8px;
	border: none;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	background-color: #ff6500;
	color: #ffffff;
}

#button-field:hover {
	background-color: #ffffff;
	color: #ff6500
}

/* CONTACT */

.main-contact {
	padding-top: 32px;
}

#contact-section {
	text-align: center;
	border-radius: 16px;
	width: 640px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 16px;
	background-color: #212023;
	margin-top: 20px;
}

#contact-section h2 {
	padding-top: 20px;
}

#name-field {
	border-radius: 8px;
	text-align: center;
}

#birthday-field {
	border-radius: 8px;
	text-align: center;
}

#color-field {
	border-radius: 8px;
}

#message-field {
	border-radius: 8px;
	text-align: center;
}

#submit-contact-field {
	padding: 8px 16px;
	border-radius: 6px;
	border: none;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	background-color: #ff6500;
	color: #ffffff;
}

#submit-contact-field:hover {
	background-color: #ffffff;
	color: #ff6500
}

/* FOOTER */

footer {
	background-color: #212023;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

.footer-navbar ul {
	padding: 0;
	list-style: none;
	display: flex;
}

.footer-navbar li {
	margin-right: 20px;
}

.footer-navbar li:last-child {
	margin-right: 0;
}

.footer-navbar a {
	text-decoration: none;
	color: #93999c;
}

.footer-navbar a:hover {
	color: #ff6500;
}

.copyright {
	margin: 0;
}