body {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	background-color: #111111;
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	border: 1px solid grey;
}

header h1 {
	color: #ffffff;
	border: 1px solid grey;
	padding-left: 32px;
}

header nav ul {
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
	padding-left: 0px;
	margin-top: 32px;
	margin-bottom: 0px;
	border: 1px solid grey;
}

header nav ul li a {
	text-decoration: none;
	color: #93999c;
}

header nav ul li a:hover {
	color: #ffffff;
	text-decoration: underline;
	text-decoration-color: #ff6500;
	text-underline-offset: 8px;
}

main h2 {
	color: #ff6500;
}

#about-section a {
	color: #ff6500;
	text-decoration: none;
}

main p {
	color: #ffffff;
}

main ul {
	color: #ffffff;
	list-style-type: none;
}

main ul li ul {
	color: #93999c;
}

main h3 {
	color: #ffffff;
	text-decoration: underline;
	text-underline-offset: 12px;
	text-decoration-color: #ff6500;
}

.self-portrait {
	height: 256px;
	width: auto;
	border-radius: 16px;
}

.github-mark {
	height: 64px;
	width: auto;
}

.linkedin-mark {
	height: 64px;
	width: auto;
}

#newsletter-section{
	background-color: #212023;
}

#newsletter-section h2 {
	color: #ff6500;
}

#newsletter-section p {
	color: #ffffff;
}

#newsletter-section a {
	text-decoration: none;
	color: #ff6500;
}

#contact-form a {
	text-decoration: none;
	color: #ff6500;
}

#submit-field {
	background-color: #ff6600;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	border-radius: 6px;
	border: none;
	cursor: pointer;
}

#submit-field:hover {
	background-color: #ffffff;
	color: #ff6500;
}

footer {
	background-color: #212023;
}

footer nav ul {
	list-style-type: none;
}

footer nav ul li a {
	text-decoration: none;
	color: #93999c;
}

footer nav ul li a:hover {
	color: #ff6500;
}

footer p {
	color: #93999c;
}

