h2.game-title {
	border: 0;
	text-align: center;
}

.error {
	color: #ff0000;
}

.success {
	color: #00ff00;
}

.input-error {
	border: 1px solid #ff0000;
}

.input-success {
	border: 1px solid #00ff00;
}