body {
	background-color: #111111;
	color: #ffffff;
	font-family: 'Montserrat',sans-serif;
}

body a {
	text-decoration: none;
}

header p {
	color: #ff6500;
}

nav ul li {
	list-style-type: none;
}

header nav ul a {
	color: #93999c;
}

header nav ul a:hover {
	color: #ffffff;
	text-decoration: underline;
	text-underline-offset: 8px;
	text-decoration-color: #ff6500;
}

main h2 {
	text-align: justify;
}

main p {
	text-align: justify;
}

.self-portrait{
	height: 256px;
	width: auto;
}

.github-mark{
	height: 64px;
	width: auto;
}

.linkedin-mark{
	height: 64px;
	width: auto;
}

footer {
	display: flex;
	flex-direction: row-reverse;
	justify-content:space-between;
	align-items: center;
	padding: 16px 0px 16px 0px;
	background-color: #212023;
	position: absolute;
	bottom: 0;
	width: 100%;
	right: 0;
	left: 0;
}

footer nav ul {
	display: flex;
	justify-content: right;
}

footer nav ul li {
	margin-right: 64px;
}

footer nav ul a {
	color: #93999c;
}

footer nav ul a:hover {
	color: #ff6500;
    	}

footer p {
	margin-left: 64px;
}
